<div class="header">
    <h1>Burgers!</h1>
    <img src=" /assets/img/burger.jpg" class="burger-img">
</div>

<div class="row">
    <div class="col-sm .d-inline-flex">
        <h2 class="text-center header2">Ordered Burgers</h2>
        {{#each burgers}}
        {{#unless devoured}}
        <div class="burgerBox bg-primary">
            <div class="p-1 text-white">{{burger_name}}
            </div>
            <button type="button " class="devourBtn btn btn-warning btn-large change-devoured" data-id="{{id}}"
                data-newDevoured="{{sleep}}">Devour
            </button>
        </div>
        {{/unless}}
        {{/each}}

    </div>
    <div class="col-sm ">
        <h2 class=" text-center header2, devoured">Devoured Burgers</h2>
        {{#each burgers}}
        {{#if devoured}}
        <div class="burgerBox bg-danger">
            <div class=" p-1 text-white">{{burger_name}}
            </div>
            <button class="delete-burger devourBtn btn btn-danger btn-large" data-id="{{this.id}}">DELETE!
            </button>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>


    <div class="postBurger">
        <form class="form" id="create-form">
            <h2 class="header2 addBurgerH2">Add a Burger</h2>

            <div class="form-group">
                <label for="ca">Burger Name:</label>
                <input class="form-control" type="text" id="ca" name="name">
            </div>
            <button type="submit">Add Burger</button>
        </form>
    </div>

